.footer-form {
  margin-left: auto;
}

.footer-form-wrapper {
  display: flex;
  align-items: center;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--page-bg-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer-form-icon {
  position: absolute;
  top: 13px;
  right: 18px;
}
